<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= film.release_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= film.genre %>
  </p>

  <p>
    <strong>List:</strong>
    <%= film.list_id %>
  </p>

</div>
